<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- Info -->
    <category label="30100">
        <setting label="30101" type="lsep"/>
        <setting label="30102" type="action" action="RunPlugin(plugin://plugin.module.helparr?action=AddToTmdbh)"/>
    </category>
    
    <!-- Radarr -->
    <category label="30200">
        <!-- Address -->
        <setting label="30201" type="text"      id="radarr_addr"    option="urlencoded" default="http://192.168.0.2:7878"/>
        <!-- API key -->
        <setting label="30202" type="text"      id="radarr_api"                         default=""/>
        <!-- Test connection -->
        <setting label="30203" type="action" action="RunPlugin(plugin://plugin.module.helparr?action=Radarr_TestConnection)"/>
        <!------------>
        <setting type="sep"/>
        <!-- Root Folder -->
        <setting label="30204" type="text"      id="radarr_dir"                         default="/movies"/>
    </category>
    
    <!-- Sonarr -->
    <category label="30300">
        <!-- Address -->
        <setting label="30301" type="text"      id="sonarr_addr"    option="urlencoded" default="http://192.168.0.2:8989"/>
        <!-- API key -->
        <setting label="30302" type="text"      id="sonarr_api"                         default=""/>
        <!-- Test connection -->
        <setting label="30303" type="action" action="RunPlugin(plugin://plugin.module.helparr?action=Sonarr_TestConnection)"/>
        <!------------>
        <setting type="sep"/>
        <!-- Root Folder -->
        <setting label="30304" type="text"      id="sonarr_dir"                         default="/tv"/>
    </category>
</settings>
